<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Faridabstract">
        <activity
            android:name="Tugas_p4.WelcomeActivity"
            android:exported="false" />
        <!-- LoginActivity sekarang menjadi halaman pertama (Launcher) -->
        <activity
            android:name="Tugas_p4.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity sekarang menjadi halaman biasa -->
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>